.nav-bar {
  width: 100%;
  min-height: 75px;
  height: 8%;
  overflow: hidden;
  position: absolute;
  background-color: white;
  display: flex;
  z-index: 50;
  font-family: Trebuchet MS;
}

.logo, .flex, .nav-item, .action-acc {
  height: 100%;
  /* /border-left: 1px solid; */
}

.logo {
  width: 20%;
  height: 100%;
}

.logo-content {
  font-size: 30px;
  font-family: Trebuchet MS;
  height: 100%;
  padding-left: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  width: 50%;
}

.nav-item {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid;
}
.menu.active{
  border-bottom: 1px solid;
  background-color: black;
}

.btn {
  width: calc(100% / 6);
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.action-acc {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-logo {
  height: 75%;
  cursor: pointer;
}
/* .show-border {
  border-bottom: 1px solid black;
} */
