<div class="container">
  <div class="login-form">
    <div class="login-header">
      <div class="logo">
        <!-- <img src="../assets/common/img/logo.png" alt="" class="img-logo" /> -->
        <h3>Move your word</h3>
      </div>
      <div class="change-login">
        <div class="button-action">
          <div class="btn btn_login">Login</div>
          <div class="btn btn_register">Register</div>
        </div>
      </div>
    </div>
    <div class="login-form-content">
      <div class="login_form form-img">
        <img src="../assets/common/img/car.png" alt="" class="img-oto" />
      </div>
      <div class="login_form form-control"></div>
    </div>
  </div>
  <div class="radius-shape-1"></div>
  <div class="radius-shape-2"></div>
</div>
