.home{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home-component{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  flex-direction: column;
}
.home-component {
  animation: slideInLeft  0.6s ease-in-out;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

[class|="content"] {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid;
  display: flex;
}
[class|="header"] {
 height: 100%;
 display: flex;
 border-right: 1px solid;

}
.header-mid{
  width: 60%;
}
.header-left,.header-right{
  width: 20%;
}

