<div class="home">
  <app-nav-menu></app-nav-menu>>
  <div class="home-component">
    <div class="content-header">
      <div class="header-left">
        <div class="top-left-content">
          <div class="item-left-content">
            <p>200K+</p>
          </div>
          <p>Active student</p>
        </div>
        <img src="../assets/common/img/picture1.png" alt="" class="img-left" />
      </div>
      <div class="header-mid">
        <h1>Make your future better</h1>
        <p>We have many courses from all professionals around the world</p>
        <div class="mid-button">
          <div class="btn start">Get started
            <img src="../assets/common/img/rocket.png" alt=""
              class="img-mid-button"/>
          </div>
          <div class="btn play">Play our video
            <img src="../assets/common/img/play-button.png" alt=""
              class="img-mid-button" />
          </div>
        </div>
        <div class="soccal-network">
          <div class="soccal microsoft"
            onclick="window.location.href='https://www.microsoft.com/vi-vn'">Microsoft</div>
          <div class="soccal google"
            onclick="window.location.href='https://www.google.com.vn/n'">Google</div>
          <div class="soccal coursera"
            onclick="window.location.href='https://www.coursera.org/'">Coursera</div>
          <div class="soccal udemy"
            onclick="window.location.href='https://www.udemy.com/'">Udemy</div>
        </div>
      </div>
      <div class="header-right">
        <div class="top-right-content">
          <div class="item-right-content">
            <img src="../assets/common/img/chart.png" alt="" class="chart" />
          </div>
          <p>Improvement</p>
        </div>
        <img src="../assets/common/img/picture2.png" alt="" class="img-right" />
      </div>
    </div>
    <div class="content-body">
      <div class="top-body-content">
        <div class="item_top_body">
          <h2>Our benefits</h2>
        </div>
        <div class="item_top_body">
          <div class="box_background" target="hover"></div>
          <div class="icon-item-body" target="hover">
            <img src="../assets/common/img/infinity.png" alt=""
              class="img-item"/>
          </div>
          <p>Life time access</p>
          <h6>Learn more 🔹</h6>
        </div>
        <div class="item_top_body">
          <div class="box_background" target="hover"></div>
          <div class="icon-item-body" target="hover">
            <img src="../assets/common/img/chat-box.png" alt=""
              class="img-item"/>
          </div>
          <p>Consultation</p>
          <h6>Learn more 🔹</h6>
        </div>
        <div class="item_top_body">
          <div class="box_background" target="hover"></div>
          <div class="icon-item-body" target="hover">
            <img src="../assets/common/img/wifi.png" alt="" class="img-item"/>
          </div>
          <p>Online Access</p>
          <h6>Learn more 🔹</h6>
        </div>
        <div class="item_top_body">
          <div class="box_background" target="hover"></div>
          <div class="icon-item-body" target="hover">
            <img src="../assets/common/img/medal.png" alt="" class="img-item"/>
          </div>
          <p>Certificate</p>
          <h6>Learn more 🔹</h6>
        </div>
      </div>
      <div class="bottom-body-content">
        <div class="content-process">
          <div class="more content-more-process">
            <p>Our process</p>
          <h3>This is the course process for you</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eius reprehenderit ipsam iusto et quos facere temporibus,
            officiis optio, minus, fuga dolore voluptate possimus facilis
            nemo dolorem sint. Quo, consequuntur fugiat.</p>
            <div class="btn-learnmore">Learn more</div>
          </div>

        </div>
        <div class="item-process">
          <div class="backgroud-progress"></div>
          <div class="icon-progress">
            <div class="number">1</div>
            <img src="../assets/common/img/research.png" alt="" class="img-item" />
            <p>Find the course you need</p>
            <h6>Learn more 🔹</h6>
          </div>
          <div class="icon-progress">
            <div class="number">2</div>
            <img src="../assets/common/img/calendar.png" alt="" class="img-item" />
            <p>Find the course you need</p>
            <h6>Learn more 🔹</h6>
          </div>
          <div class="icon-progress">
            <div class="number">3</div>
            <img src="../assets/common/img/watch.png" alt="" class="img-item" />
            <p>Find the course you need</p>
            <h6>Learn more 🔹</h6>
          </div>
          <div class="icon-progress">
            <div class="number">4</div>
            <img src="../assets/common/img/cloud-folder.png" alt="" class="img-item" />
            <p>Find the course you need</p>
            <h6>Learn more 🔹</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="content-our_course">
        <div class="frame live_course">
          <div class="live_video">
            <div class="live-status">🔴 Live</div>
            <div class="live-meet">
              <div class="img-human">
                <img src="../assets/common/img/img-live1.png" alt="" class="img-live" />
              </div>
              <div class="img-human">
                <img src="../assets/common/img/img-live2.png" alt="" class="img-live" />
              </div>
            </div>
            <div class="live-button">
              <div class="icon-button-live">
                <img src="../assets/common/img/mic.png" alt="" class="icon-button" />
              </div>
              <div class="icon-button-live">
                <img src="../assets/common/img/video.png" alt="" class="icon-button" />
              </div>
              <div class="icon-button-live">
                <img src="../assets/common/img/call.png" alt="" class="icon-button" />
              </div>
              <div class="icon-button-live">
                <img src="../assets/common/img/share.png" alt="" class="icon-button" />
              </div>
              <div class="icon-button-live">
                <img src="../assets/common/img/chat.png" alt="" class="icon-button" />
              </div>

            </div>
          </div>
          <div class="live_more">
            <div class="more live_more_content">
              <p>Mentors</p>
              <h3>Join live class with your mentor via video call</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ea perspiciatis vel, dolore adipisci odit natus minima illo
                 praesentium sed?</p>
            </div>
          </div>
        </div>
        <div class="frame stories">
          <div class="stories_more">
            <div class="more storeies_more_content">
              <div class="more live_more_content">
                <p>Success Stories</p>
                <h3>96% of upskill users have become famous experts</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Ea perspiciatis vel, dolore adipisci odit natus minima illo
                   praesentium sed?</p>
              </div>
            </div>
          </div>
          <div class="stories_change">
              <div class="stores_feedback">
                <div class="lover">❤️</div>
                <div class="header_feedback">
                  <div class="avt-human_feedback">
                    <img src="../assets/common/img/feedback.png" alt="" class="icon-button" />
                  </div>
                  <div class="name-human_feedback">
                    <h4>Quang VN</h4>
                    <p>Developer</p>
                  </div>
                </div>
                <div class="content_feedback">
                  <p>I dont know</p>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
